BlogClient/Connected Services/BlogServiceReference/BlogLib3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BlogLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BlogLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BlogPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PostedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlogPost" nillable="true" type="tns:BlogPost" />
  <xs:complexType name="ArrayOfBlogPost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BlogPost" nillable="true" type="tns:BlogPost" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlogPost" nillable="true" type="tns:ArrayOfBlogPost" />
</xs:schema>