BlogClient/Connected Services/BlogServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BlogLib" />
  <xs:element name="AddPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BlogLib" minOccurs="0" name="AddPostResult" nillable="true" type="q1:BlogPost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPosts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BlogLib" minOccurs="0" name="GetPostsResult" nillable="true" type="q2:ArrayOfBlogPost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>